<section id="education" class="container-fluid py-5">
  <h2 class="text-center fw-bold mb-5 animate-heading" #animateHeading>Education</h2>

  <div class="vertical-timeline position-relative">
    <!-- MBU -->
    <div class="timeline-box left-box animate-box" #animateBox>
      <div class="dot"></div>
      <div class="content">
        <h5 class="fw-bold">Mohan Babu University, Tirupati</h5>
        <p class="text-secondary mb-1">B.Tech CSE (AIML), CGPA: 9.90</p>
        <p class="text-secondary">2022 - 2026</p>
      </div>
    </div>

    <!-- Narayana -->
    <div class="timeline-box right-box animate-box" #animateBox>
      <div class="dot"></div>
      <div class="content">
        <h5 class="fw-bold">Narayana Junior College, Kurnool</h5>
        <p class="text-secondary mb-1">Intermediate (MPC), 97.9%</p>
        <p class="text-secondary">2020 - 2022</p>
      </div>
    </div>

    <!-- School -->
    <div class="timeline-box left-box animate-box" #animateBox>
      <div class="dot"></div>
      <div class="content">
        <h5 class="fw-bold">Sri Chaitanya EM School, Kurnool</h5>
        <p class="text-secondary mb-1">SSC, 100%</p>
        <p class="text-secondary">2019 - 2020</p>
      </div>
    </div>

    <div class="vertical-line"></div>
  </div>
</section>
