<section id="certificates" class="container-fluid py-5">
  <h2 class="fw-bold">Certificates</h2>

  <div class="row gy-4 justify-content-center">
    <!-- DTCC -->
    <div class="col-md-6 col-lg-4">
      <div class="certificate-card from-left">
        <img src="../../../assets/certificates/dtcc.png" alt="DTCC Internship" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title fw-bold">Internship Completion Certificate</h5>
          <p class="card-text">IT Intern – DTCC</p>
        </div>
      </div>
    </div>


    <!-- CSA -->
    <div class="col-md-6 col-lg-4">
      <div class="certificate-card from-bottom">
        <img src="../../../assets/certificates/servicenow-csa.png" alt="ServiceNow CSA" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title fw-bold">Certified System Administrator (CSA)</h5>
          <p class="card-text">ServiceNow Certification</p>
        </div>
      </div>
    </div>

    <!-- CAD -->
    <div class="col-md-6 col-lg-4">
      <div class="certificate-card from-right">
        <img src="../../../assets/certificates/servicenow-cad.png" alt="ServiceNow CAD" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title fw-bold">Certified Application Developer (CAD)</h5>
          <p class="card-text">ServiceNow Certification</p>
        </div>
      </div>
    </div>

    <!-- AI4ALL -->
    <div class="col-md-6 col-lg-4">
      <div class="certificate-card from-left">
        <img src="../../../assets/certificates/ai4all.png" alt="AI4ALL Certificate" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title fw-bold">AI4ALL – AI Awareness Program</h5>
          <p class="card-text">By AICTE, Intel, NASSCOM</p>
        </div>
      </div>
    </div>

    <!-- Eduskills -->
    <div class="col-md-6 col-lg-4">
      <div class="certificate-card from-right">
        <img src="../../../assets/certificates/eduskills.png" alt="Eduskills Internship" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title fw-bold">Virtual Internship – AIML</h5>
          <p class="card-text">Eduskills x AICTE</p>
        </div>
      </div>
    </div>
  </div>
</section>
